.headline {
	font-weight: 300;
	font-size: 1.475rem;
	color: black;

	@mixin atSmall {
		font-size: 2.475rem;	
	}


	&--centered {
		text-align: center;
	}

	&__description {
		font-weight: 500;
	}

	&--centered--darkgrey {
		text-align: center;
		color: darkgrey;
		font-size: 2rem;
		font-weight: 700;
	}

	&__description--darkgrey {
		font-weight: 500;
		color: darkgrey;

		&--smallsize {
			font-size: .9rem;
			font-weight: 300;
		}
	}

	&--small {
		font-size: 1.4rem;

		@mixin atSmall {
			font-size: 2rem;
			padding-right: 15px;
			border-style: solid;
			border-color: orange;
			border-width: 2px;
		}
		
	}
}