.page-section {
	padding: 1.2rem 0;
	line-height: 1.4;


	@mixin atSmall {
		padding: 3rem 0;
	}


	&--dimgrey {
		background-color: #696969;
	}

	&--lightgrey {
		background-color: #778899;
	}

	&--races {
		background: url('/assets/images/alana.png') top center no-repeat;
		background-size: cover;
	}
}