.primary-nav {
	padding-top: 10px;


	@mixin atSmall {
		padding-top: 0;
	}

	&--pull-right {
		@mixin atSmall {
			float: right;
		}
	}



	ul {
		margin: 0;
		padding: 0;
		/*@mixin clearfix;*/
	}

	li {
		list-style: none;
		display: inline-block;
		padding-right: 7px;

		@mixin atSmall {
			padding-right: 20px;
			float: left;
			display: block;
		}
	}

	a {
		color: #FFF;
		font-weight: 300;
		text-decoration: none;
		display: block;
		padding: 1px 3px;
		font-size: .8rem;
		background-color: rgba(138, 43, 226, .5);
		border-radius: 10%;


		@mixin atSmall {
			font-size: 1rem;
			padding: 4px 4px;
			border-radius: 10%;

		}
	}

	a:hover {
		background-color: maroon;
		transition: background-color .7s ease-out;
	}
}