.site-footer {
	background-color: black;
	color: #FFFFFF;
	padding: .5rem 0;
	text-align: center;


	&__text {
		display: block;
		margin-bottom: 1rem;

		@mixin atSmall {
			/*display: inline;*/
			margin-bottom: 1rem;
			margin-right: 1.4rem;
		}
	}


	&__icon {
		margin-right: .3rem;
	}

	&__icon--round {
		border-radius: 40%;
	}
}